PORT=8000
DB_URL="mongodb://localhost:27017/project-name"
SALT_ROUND= <1-10>

#GMAIL
SMTP_SERVICE="gmail/icloud/hotmail/outlook"
SMTP_EMAIL="user@mail.com"
SMTP_PASSWORD="ntynsylss"

#JWT
JWT_SECRET="secret"
JWT_DURATION="1h"